#pick-item {
  margin: 10rem 0;
}

div.nav > a:hover {
  opacity: 0.8;
}

.nav-link:focus,
.nav-link:hover {
  opacity: 0.8;
}

.nav-item:nth-child(1) {
  border-right: 1px groove #dee2e6;
}

.nav-item:hover {
  background-color: #212529;
}
.nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  font-weight: lighter;
  font-size: 15px;
}

.drop-item-btn {
  margin: 0 20px;
  padding: 10px 10px;
  background: none;
  color: var(--bs-black);
  border: none;
}
.drop-item-btn:hover,
.drop-item-btn:focus {
  background: #212529;
}

.span-category-close {
  color: var(--bs-btn-hover-color);
}

.btn-close-category {
  background: var(--bs-black);
  font-size: medium;
}
.btn-close-category:hover,
.btn-close-category:focus {
  background: #212529;
}


.dropdown-item {
  font-size: 15px;
}

.span-4 {
  font-size: 15px;
  font-weight: bold;
}


.btn-next:hover,  .btn-prev:hover {
  cursor: pointer;
}