.link-half:first-child {
  background-image: url(./assets/fish-link.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.link-half:last-child {
  background-image: url(./assets/tool-link.png);
  background-size: cover;
  background-repeat: no-repeat;
}