h3 {
  font-size: 4rem;
}

p {
  font-size: 2.4rem;
}

button {
  font-size: 2rem;
}

form.login-form {
  top: 15%;
  left: 20%;
  width: 25%;
}

img.main-pic {
  left: 75%
}

input {
  height: 4rem;
}

label {
  cursor: text;
}

.form-button {
  text-transform: uppercase;
  min-width: 16rem;
  padding: 1.6rem 3.2rem;
}

.form-button:first-child {
  border: 2px solid #000;
}

.form-button:last-child {
  background-image: linear-gradient(90deg, #A2A2A2 0%, #000000 81.44%);
  color: #fff;
  border: none;
}

