h3 {
  font-size: 4rem;
}

p {
  font-size: 2.4rem;
}

button {
  font-size: 2rem;
}

.description {
  top: 25%;
  left: 10%;
}

#slidesPic {
  display: none;
}

#slidesPic > img {
  transition: 0.5s;
}

.fade {
  animation-name: fade, fadeOut;
  animation-duration: 2000ms, 2000ms;
  animation-delay: 0ms, 2000ms;
  animation-fill-mode: forwards;
}

.Main {
  background-color: #fff;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

#dot {
  background-color: #ccc;
}