h3 {
  font-size: 4rem;
}

p {
  font-size: 2.4rem;
}

button {
  font-size: 2rem;
}

.description {
  margin-left: 6rem;
}

.fade {
  animation-name: fade, fadeOut;
  animation-duration: 2000ms, 2000ms;
  animation-delay: 0ms, 2000ms;
  animation-fill-mode: forwards;
}

.Main {
  background-color: #fff;
  overflow: hidden;
}

.web__logo {
  width: 35rem;
  margin-right: 35rem;
}
