.dashboard {
}

.dashboard-content {
  padding-left: 30.25rem;
  flex: 1;
  overflow: auto;
  height: 100%;
}

.profile__avt {
  width: 75px;
  height: 75px;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30.25rem
}

.orders-section {
  overflow: auto;
  background-color: #f5f5f9;
}

.statistic {
  flex: 1;
  overflow: auto;
  background-color: #f5f5f9;
}

a > i.fa-solid {
  width: 20px;
  margin-right: 25px;
}

.text-orange {
  color: rgb(255, 89, 0);
}

.text-blue {
  color: rgb(23, 23, 238);
}

.text-green {
  color: rgba(35, 243, 35, 0.876);
}

.text-red {
  color: rgb(154, 6, 6);
}

.action__btn {
  min-width: 16rem;
}

.menu__btn {
  cursor: pointer;
  color: #566a7f;
}

.menu__focus {
  color: #696cff;
  background-color: #696cff29;
}


.menu__hover:hover {
  background-color: #4359710a;
}

.chart {
  top: 0.2em;
  right: 0.2em;
  font-size: 2.3rem;
  color: #696cff;
}

.truck {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  font-size: 2.3rem;
  color: #696cff;
}

#page__number {
  width: 3.5rem;
}

.edit-section {
  width: 70rem;
}

.edit-label {
  min-width: 10rem;
}

.product__col {
  min-width: 25rem;
}

.product__col-status {
  min-width: 15rem;
}

.btn-edit {
  max-width: 8rem;
}

.edit-popup {
  position: fixed;
  display: none;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  justify-content: center;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}