a.footer-link:hover {
  opacity: 0.7;
}

.link-half:first-child {
  background-image: url(../assets/communistkoi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.link-half:last-child {
  background-image: url(../assets/tool.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.pick-product {
  background-color: #9CACBF;
}

.newProduct-section {
  background-color: #fff;
}

.card_img {
  height: 500px;
  width: 500px;
  aspect-ratio: 1/1;
}

.new_product::before {
  content: 'New';
  width: 5em;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(224, 34, 34);
  color: white;
  top: 4px;
  right: 4px;
  font-size: 1.8em;
  text-align: center;
  z-index: 10;
}

.pick::before {
  content: '★';
  width: 5em;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(180, 180, 13);
  color: white;
  top: 4px;
  right: 4px;
  font-size: 1.8em;
  text-align: center;
  z-index: 10;
}