.IntroHeader {
  position: fixed;
  width: 100%;
  z-index: 999;
  margin-bottom: 70px;
  height: 7rem;
}

.hoverEffect {
  transition: 0.2s;
}

.hoverEffect:hover {
  background-color: #000;
}

.hoverEffect:hover > a {
  color: #fff !important; 
}

.action-menu {
  right: 0;
  left: auto !important;
}

.show {
  display: block !important;
}

